.container-1 {
  display: grid;
  grid-template-areas:
    "Breakie Lunch Dinner";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  padding: 5px;
}
.container div {
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.sidebar {
  grid-area: sidebar;
  padding-left: 0;
}

.container div.footer {
  grid-area: footer;
  text-align: center;  
}

.container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "California California"
    "Missouri NewYork";
  gap: 5px;
  padding: 5px;
}
.container-2 div {
  padding: 10px;
}
.container-2 div.California{
  grid-area: California;
  text-align: center;
}
.container-2 div.Missouri {
  grid-area: Missouri;
  padding-left: 0;
}
.container-2 div.NewYork {
  grid-area: NewYork;
}

a{
  color: #000080;
}

a:hover {
  color: #FF007F;
}

#Home{
  background-color:#D9F1FF;
}

#UnitedStates{
  background-color:#D9FFFD;
}

#Europe{
  background-color:#D9E2FF;
}

#Peru{
  background-color:#E0D9FF;
}

#Lima{
  background-color:#E0D9FF;
}

#Cuzco{
  background-color:#E0D9FF;
}



